html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
body {
  scrollbar-width: none; /* Hides the scrollbar */
}

/* For Internet Explorer and Edge */
body {
  -ms-overflow-style: none; /* Hides the scrollbar */
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(90deg, #2a1ad8 0%, #4e26e2 20%, #7231ec 40%, #953df5 60%, #b948ff 100%);
}

.title {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
}

.heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.title-div {
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 2px;
  color: white;
}

.title-div span {
  font-weight: 700;
}

section {
  margin-top: 10px;
}

.About {
  gap: 20px;
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.about_content {
  display: flex;
  justify-content: center;
}

.paragraph img {
  object-fit: contain;
  left: 50%;
  max-width: 50%;
  height: auto;
}

.avatar {
  display: flex;
  justify-content: center;
  width: 100%;
}

.paragraph {
  justify-content: center;
  align-items: center;
  color: white;
  display: inline-flex;
  flex-direction: column;
  padding: 10px;
  font-size: larger;
  max-width: 40rem;
  /* From https://css.glass */
  background: rgba(38, 10, 108, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(38, 10, 108, 0.3);
}

.navbar {
  position: sticky;
  top: 10px;
  height: 50px;
  padding-right: 20px;
  z-index: 999;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.22);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.4px);
  -webkit-backdrop-filter: blur(8.4px);
  border: 1px solid rgba(255, 255, 255, 0.81);
}

.navbar ul {
  float: right;
}

.navbar ul a {
  font-size: large;
  text-decoration: none;
  color: white;
  margin: 5px;
}

.ender {
  justify-content: center;
  justify-items: center;
  display: flex;
  top: 10px;
  height: 50px;
  padding-right: 20px;
  margin-top: 30px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.22);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.4px);
  -webkit-backdrop-filter: blur(8.4px);
  border: 1px solid rgba(255, 255, 255, 0.81);
}

.ender a img {
  margin: 5px;
  max-width: 30px;
  height: auto;
}

.section_header {
  display: flex;
  justify-content: center;
  color: white;
}

.section_header h1 {
  font-size: 3rem;
}

.contant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 10rem;
}

.contact_content {
  max-width: 2000px;
}

.contact_content form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.contact_content form input {
  font-weight: 700;
  letter-spacing: 1.4px;
  min-height: 30px;
  padding: 10px;
  max-width: 90vw;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.22);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.4px);
  -webkit-backdrop-filter: blur(8.4px);
  border: 1px solid rgba(255, 255, 255, 0.81);
}

.contact_content form textarea {
  max-width: 90vw;
  font-weight: 700;
  letter-spacing: 1.4px;
  min-height: 30px;
  padding: 10px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.22);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.4px);
  -webkit-backdrop-filter: blur(8.4px);
  border: 1px solid rgba(255, 255, 255, 0.81);
}

.btn_container {
  text-align: right;
}

.btn_container button {
  display: inline-block;
  padding: 24px 32px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.btn_container button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/*# sourceMappingURL=index.css.map */
